{
  "presets": [
    "latest",
    "stage-3",
    "react"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "axs": "./src",
          "axs-ui": "./packages/axs-ui"
        }
      }
    ]
  ]
}
