<!DOCTYPE html>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<title>Axs</title>
<meta name='description' content='A build-your-own responsive typography and layout UI toolkit for React'>
<meta name='twitter:card' content='summary_large_image'>
<meta name='twitter:site' content='@jxnblk'>
<meta name='og:title' content='Axs'>
<meta name='og:description' content='A build-your-own responsive typography and layout UI toolkit for React'>
<meta name='og:image' content='http://jxnblk.com/axs/tricard.png'>
<style>
* { box-sizing: border-box }
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  margin: 0;
}
</style>
<div id='app'></div>
<script id='twitter-wjs' src='https://platform.twitter.com/widgets.js' async></script>
